*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* empèche la box de grandir avec les paddings */
}

html{
    scroll-behavior: smooth;
}

/* Bordure pour vérifer blocs */
/* section{
    border: 3px solid yellow;
}

footer{
    border: 3px solid red;
}

div, nav, header, article, form{
    border: 2px solid green;
} */

img{
    /* garder ratio d'une image  */
    object-fit: cover;
    /* reponsive */
    display: block;
    max-width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    flex-direction: column;
}

body{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-style: regular;
    font-size: clamp(12px, 10vw, 18px);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #FFFBF5;
}

span,
h2,
h3,
p1,
button,
.icon,
.quantity{
    cursor: pointer;
}
/*==================================== HEADER ====================================*/

h2{
    font-family: 'Libre Baskerville', serif;
    font-style: Bold;
    font-size: clamp(30px, 13vw, 60px);
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}

.burger{
    display: none;
}

nav{
    /* gap: 5px; */
    width: min(1100px, 95%);
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 10px;
}

.footer{
    min-width: 1400px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    color: black;
    row-gap: 45px;
    /* align: center;
    vertical-align: top; */
}

.footer A{
    text-decoration: none;
    color: black;
    row-gap: 45px;
}

a{
    transition: color .5s;
  }
  
a:hover {
    color: #d8998f;
}

.menuicons{
    gap: 40px;
    /* responsive : passer icones en ligne */
    flex-wrap: wrap;
    justify-content: flex-end;
}

.icon{
    gap: 20px;
}

form{
    box-sizing: border-box;
}

.bouton{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: clamp(12px, 10vw, 18px);
    justify-content: center;
    align-items: center;
}

input{
    background: #FFFBF5;
    color: #D8998F;
    font-size: clamp(12px, 10vw, 14px);
    padding: 5px 5px;
    border-color: black;
}

.boutonblack{
    background: black;
    color: #FFFBF5;
    /* font-size: clamp(12px, 10vw, 13px); */
    padding: 2px 5px;
}


/* ============================= PAGE PAIEMENT =========================== */

h3{
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0px 10px 40px;
}

h4{
    font-size: 16px;
    font-weight: 400; 
}

.bold{
    font-weight: bold;
}

hr{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

p1{
    text-decoration : underline;
    font-size: 16px;
    font-weight: bold;
}

button{
    background: #333333;
    color: #FFFFFF;
    border: 0px;
    font-size: 14px;
    font-weight: 600;
    align-self: center;
    padding: 10px;
}

.vertical{
    border-left: 1px solid black; 
    height: 62vh; 
    display: inline-block;
}

p2{
    font-size: 15px;
    font-weight: bolder;
}

h1{
    font-size: 20px;
}


.box1{
    border: 4px solid brown;
    width: 100%;
    height: 30vh;
    align-items:stretch;
}



.box2{
    border: 2px solid purple;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.panier{
    align-items: flex-start;
}


.souscontainer{
    justify-content: flex-end;
    border: 4px solid red;
    gap: 20px;
}

.CONTAINER{
    border: 4px solid turquoise;
    width: auto;

}


/* ============================================ FOOTER =============================== */

footer{
    justify-content: space-between;
}

.newsletter{
    min-width: 335px;
    min-height: 123px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    justify-content: center;
    align-items: space-evenly;
    text-align: left;
    align-self: stretch;
}

.newsletter p{
    font-size: clamp(12px, 4vh, 16px);

}
.newsletter form{
    margin-top: 15px;
}

.footer{
    min-height: 94px;
    flex-direction: row;
}

@media (max-width: 900px){
    nav a{
        display: none;
    }
}

@media (max-width: 670px) {
    nav a{
        display: none;
    }

    .burger{
        display: block;
        cursor: pointer;
        padding: 10px;
    } 

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0; 
    }

    .burger h2{
        background: #FFFBF5;
        padding: 10px;
        /* valeur passe au dessus des autres */
        z-index: 1;
    }

    #home nav{
        /* position passe par dessus les autres */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #FFFBF5;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        gap: 40px;
        /* valeur passe au dessus des autres */
        transform: translateX(100%);
        transition: 2s;
    }

    .menu-open{
        transform: translateX(0);
    }
      
    .burger span{
        width: 40px;
        height: 5px;
        background: black;
        border-radius: 54px;
        margin: 6px;
        display: block;
    }

    .menuicons{
        display: none;
    }

    form{
        margin: 0 auto 35px;
    }

   .footer{
        flex-direction: column !important;
    
    }

}