*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* empèche la box de grandir avec les paddings */
}

html{
    scroll-behavior: smooth;
}

/* Bordure pour vérifer blocs */
/* section{
    border: 3px solid yellow;
}

footer{
    border: 3px solid red;
} */

/* div, nav, header, article, form{
    border: 2px solid green;
} */

img{
    /* garder ratio d'une image  */
    object-fit: cover;
    /* reponsive */
    display: block;
    max-width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    flex-direction: column;
}

body{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-style: regular;
    font-size: clamp(12px, 10vw, 18px);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #FFFBF5;
}

h1,
h2,
nav,
button{
    cursor: pointer;
}

/* section{
    margin-bottom: 70px;
} */

/* -------------------- */
/* Animation */
  
  .hide {
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
/* ------------------- */

h1{
    font-family: 'Libre Baskerville', serif;
    font-style: Bold;
    text-align: center;
    font-size: clamp(35px, 13vw, 80px);
    color: #FFFBF5;
    margin-top: 307px;
}

h2{
    font-family: 'Libre Baskerville', serif;
    font-style: Bold;
    font-size: clamp(30px, 13vw, 60px);
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;

}

/* Homepage */
#home .titre{
    background: url("images/homepage.png") no-repeat center / cover;
    min-height: 758px;
    /* align-self: stretch; */
}

.burger{
    display: none;
}

nav{
    /* gap: 5px; */
    width: min(1100px, 95%);
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 10px;
}

nav .footer{
    min-width: 1400px;
}

nav a{
    text-decoration: none;
    color: black;
    row-gap: 45px;
    /* align: center;
    vertical-align: top; */
}

a{
    transition: color .5s;
}
  
a:hover {
    color: #d8998f;
}

.menuicons{
    gap: 40px;
    /* responsive : passer icones en ligne */
    flex-wrap: wrap;
    justify-content: flex-end;
}

.icon{
    gap: 20px;
}

form{
    box-sizing: border-box;
}

.bouton{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: clamp(12px, 10vw, 18px);
    justify-content: center;
    align-items: center;
}

input{
    background: #FFFBF5;
    color: #D8998F;
    font-size: clamp(12px, 10vw, 14px);
    padding: 5px 5px;
    border-color: black;
}

.boutonblack{
    background: black;
    color: #FFFBF5;
    /* font-size: clamp(12px, 10vw, 13px); */
    padding: 2px 5px;
}

.boutoncream{
    background: #FFFBF5;
    color: black;
}

/* Découvrir */
#decouvrir{
    justify-content: space-evenly;
    min-height: 1200px;
}

.container1{
    justify-content: space-evenly;
    min-height: 750px;
    flex-wrap: wrap;
}

.container2{
    justify-content: space-evenly;
    min-height: 750px;
    flex-wrap: wrap;
}
#decouvrir .box{
    min-width: 420px;
    min-height: 525px;
    justify-content: flex-end;
    padding-bottom: 30px;
}

#decouvrir button{
    border: none;
    min-width: 252px;
    min-height: 43px;
    background: #FFFBF5;
    font-weight: bold;
    transition: background-color .5s;
}
  
#decouvrir button:hover {
    background-color: #d8998f;
    color: #FFFBF5;
}

.box1{
    background: url(images/creamsweat.png) no-repeat center / cover;
}

.box2{
    background: url(images/coat.png) no-repeat center / cover;
}

.box3{
    background: url(images/whiteshirt.png) no-repeat center / cover;
}

.box4{
    background: url(images/jacket.png) no-repeat center / cover;
}

.box5{
    background: url(images/navytshirt.png) no-repeat center / cover;
}

/* Footer */
footer{
    justify-content: space-between;
}

.newsletter{
    min-width: 335px;
    min-height: 123px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    justify-content: center;
    align-items: space-evenly;
    text-align: left;
    align-self: stretch;  
}

.newsletter p{
    font-size: clamp(12px, 10vw, 16px);
}

.newsletter form{
    margin-top: 15px;
}

.footer{
    min-height: 94px;
    flex-direction: row;
}

@media (max-width: 900px){
    #home nav a{
        display: none;
    }

    #home #decouvrir{
        flex-direction: column;
        /* align-items: flex-end; */
        justify-content: center;
    
    }

    #home #decouvrir img {
        display: block;
        width: min(414px, 100%);
        height: auto;
    }

    /* .menuicons{
        display: none;
    } */

    .container1{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 40px;
    }

    .container2 {
        flex-direction: column;
        justify-content: center;
    }

    .box{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 670px) {
    #home nav a{
        display: table-column;
        justify-content: space-around;
    }

    .burger{
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    .container1{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .container2{
        flex-direction: column;
        justify-content: center;
    }

    .box{
        min-width: 100%;
    }

    .burger h2{
        background: #FFFBF5;
        padding: 10px;
        /* valeur passe au dessus des autres */
        z-index: 1;
    }

    #home nav{
        /* position passe par dessus les autres */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #FFFBF5;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        gap: 40px;
        /* valeur passe au dessus des autres */
        transform: translateX(100%);
        transition: 2s;
    }

    .menu-open{
        transform: translateX(0);
    }

    .burger span{
        width: 40px;
        height: 5px;
        background: black;
        border-radius: 54px;
        margin: 6px;
        display: block;
    }
   
    .titre{
        align-items: center;
    }

    .menuicons{
        display: none;
    }

    form{
        margin: 0 auto 35px;
    }

   .footer{
        flex-direction: column !important;
    
    }

}